<% @title = "New question" %>

<% content_for :description do %>
  <p><%= vt_project_icon %>
    <%= vt_project_name %></p>
<% end %>




<div class="container-fluid col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <%= render "layouts/flashes" %>
  <div class="row sheet sheet-condensed mt15">
    <div class="panel panel-default sheet-inner">
      <div class="panel-heading">
        <span class=" fa fa-lightbulb-o"></span>
        Add a question to be evaluated by the team
      </div>
      <p class="panel-body">
        <%= render 'form' %>
      </p>
    </div>
  </div>
</div>