<style>
  .rickshaw_graph .detail .x_label {
    display: none
  }

  .rickshaw_graph .detail .item {
    line-height: 1.4;
    padding: 0.5em
  }

  .detail_swatch {
    float: right;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px 0 0
  }

  .rickshaw_graph .detail .date {
    color: #a0a0a0
  }

  .column {
    display: inline-block
  }

  #bars-cycle-time-legend {
    background: transparent;
    position: absolute;
    margin-left: 10px;
  }

  #bars-cycle-time-legend .line {
    color: #333;
    margin-left: 10px;
  }

  #bars-cycle-time-x_axis {
    margin-left: 10px;
  }

  #bars-cycle-time-y_axis1 {
    position: absolute;
    left: -25px;
    top: 15px;
    bottom: 0;
    width: 40px;
    margin-left: 10px;
  }

  #bars-cycle-time-y_axis2 {
    position: absolute;
    left: 95%;
    top: 15px;
    bottom: 0;
    width: 40px;
    margin-left: 0px;
  }
</style>
<%= hidden_field_tag 'teamid', @team.id, class: 'form-control', id: 'teamid' %>

<div class="panel panel-default">
  <div class="panel-heading ">
    <p class="lead">
      <i class="fa fa-signal"></i><span id="graphtitle"><%= locals[:title] %></span>
    </p>
  </div>


  <div class="panel-body" style="position: relative">
    <div id="bars-cycle-time-y_axis1"></div>
    <div id="bars-cycle-time-y_axis2"></div>

    <div id="bars-cycle-time" style="position: relative;margin-left: 10px;">
      <div id="bars-cycle-time-loader">
        <i class="fa fa-fw fa-spinner fa-pulse" style="font-size: 18px;"></i>
      </div>
      <div id="bars-cycle-time-legend"></div>
    </div>
    <div id="bars-cycle-time-x_axis"></div>
  </div>

</div>