<% @title = "Add new team" %>

<% content_for :description do %>
  <p><%= image_tag "/images/voardtrix_logo.png", class: "img-circle profile-image", height: '30', width: '30' %>

    from
    <strong>JIRA</strong> <%= "#{@setting.site}#{@setting.base_path} #{(@setting.oauth? ? :oauth : :basic).to_s.humanize} authentication" %>
  </p>

<% end %>
<br/>
<div class="container-fluid col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <%= render "layouts/flashes" %>
  <div class="row sheet sheet-condensed">
    <div class="panel panel-default sheet-inner">
      <div class="panel-heading">
        <span class="fa fa-cog"></span>
        Add team from external service
      </div>
      <p class="panel-body">
        <%= render 'form' %>
      </p>
    </div>
  </div>
</div>