<% @title = "Add new team" %>

<% content_for :description do %>
  <p><%= vt_project_icon %>
    from
    <strong>JIRA</strong> <%= "#{current_user.setting.site}#{current_user.setting.base_path} #{(current_user.setting.oauth? ? :oauth : :basic).to_s.humanize} authentication" %>
  </p>

<% end %>
<%= render "layouts/flashes" %>
<div class="container-fluid col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="row sheet sheet-condensed mt15">
    <div class="panel panel-default sheet-inner">
      <div class="panel-heading">
        <span class="fa fa-cog"></span>
        Add team from external service
      </div>
      <p class="panel-body">
        <%= render 'form' %>
      </p>
    </div>
  </div>
</div>