<li class="nav-item">
  <a class="nav-link"> <i class="fa fa-fw fa-map-o fa-lg fa-fw"></i> Forecasting <span class="fa arrow"></span></a>
  <ul class="nav nav-second-level" aria-expanded="false">

    <%= activatable_li_tag maturity_frameworks_path do |url| %>
      <%= link_to fa_icon_tag("balance-scale") << "Montecarlo", url %>
    <% end %>

  </ul>
</li>