<%= activatable_li_tag root_path, class: "nav-item" do |root_url| %>
  <%= link_to root_url, class: "nav-link" do %>
    <i class="fa fa-fw fa-cubes fa-lg fa-fw"></i> Kanban <span class="fa arrow"></span>
  <% end %>

  <ul class="nav nav-second-level" aria-expanded="false">
    <% if @team.present? %>



      <% if @team.sprint.present? %>
        <%= activatable_li_tag sprint_path(@team.sprint) do |url| %>
          <%= link_to fa_icon_tag("line-chart") << "Dashboard", url %>
        <% end %>

      <% end %>
    <% end %>




  </ul>
<% end %>