<% content_for :body_class, "landing" %>

<% content_for :header do %>
  <header>
    <div class="bg"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xs-12">
          <div class="text">
            <h1>Voardtrix - Agile Metrics Boards</h1>
            <p class='lead'>Supports software product teams and coaches handling and visualise performance agile metrics
              in an Agile transformation.</p>
            <a href="#screenshots" class='btn btn-outline-default btn-lg'>Learn More &rarr;</a>
          </div>
        </div>
      </div>
    </div>
  </header>
<% end %>

<section class="features">

  <p class="lead">This is the best application you could ever buy. You'd be crazy not to buy it. Especially as it's been
    endorsed by the product teaching mafia.</p>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <section>
          <i class='fa fa-line-chart'></i>
          <h4>Overview</h4>
          <p>On this board you will Have a clear overview about team's performance trends, average story points and
            stories closed, variance, commitment vs. closed, story points vs. stories, comulative flow diagram,...</p>
        </section>
      </div>
      <div class="col-xs-12 col-md-4">
        <section>
          <i class='fa fa-cogs'></i>
          <h4>On-Going Sprint </h4>
          <p>On this board you will be able to check out the sprint health on a daily basis, burndown chart, blocked
            time, velocity variance,...</p>
        </section>
      </div>
      <div class="col-xs-12 col-md-4">
        <section>
          <i class='fa fa-signal fa-flip-horizontal'></i>
          <h4>Measure Cycle Time</h4>
          <p>Discover any workflow dysfunction by keeping an eye on the Cycle Time, discover blockers,
            roadblocks,...</p>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <section>
          <i class='fa fa-pied-piper'></i>
          <h4>Maturity Framework</h4>
          <p>Create your own maturity framework setting up questions in order to support teams to assimilate their
            continuos improvement.</p>
        </section>
      </div>
      <div class="col-xs-12 col-md-4">
        <section>
          <i class='fa fa-map-o'></i>
          <h4>Forecasting</h4>
          <p>Set of forecasting tools that would help product owners to provide accurate estimations.</p>
        </section>
      </div>
      <div class="col-xs-12 col-md-4">
        <section>
          <i class='fa fa-certificate'></i>
          <h4>Agile Coach</h4>
          <p>Advise your teams based on your experience! by automatically analysing teams data to provide continiuos
            improvement actions.</p>
        </section>
      </div>
    </div>
  </div>
</section>
<section class="getting-started">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-5 text-xs-center text-md-left">
          <h1>Start a free trial</h1>
          <p>No charges or down payments, just free!</p>
        </div>
        <div class="col-md-7 text-xs-center text-right ctas">


          <form class="signup-form form-inline">
            <div class="text-center">
              <div class="form-group">
                <input type="email" placeholder="Your email" class="form-control col-xs-12 mr10 mb10" required="" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}">
                <input type="button" class="btn btn-outline-default" value="Request Try out →" style="padding:8px;">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>




<section class='product-images'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12'>
        <h2 class='h1 text-center'>Screenshots</h2>
        <p class="lead text-center">Look at Voardtrix current features and boards, request us access and try them out
          for free. </p>

        <div class="panel-body" id="screenshots">
          <div id="carousel-example-generic" class="carousel slide">
            <!-- Indicators //-->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              <li data-target="#carousel-example-generic" data-slide-to="3"></li>
              <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img alt="Overview" class="" src="/images/voardtrix_overview.png" width="100%">
              </div>
              <div class="item">
                <img alt="Sprint board" class="" src="/images/voardtrix_sprint.png" width="100%">
              </div>
              <div class="item">
                <img alt="Cycle Time analysis" class="" src="/images/voardtrix_cycletime.png" width="100%">
              </div>
              <div class="item">
                <img alt="Maturity Framework" class="" src="/images/voardtrix_maturity.png" width="100%">
              </div>
              <div class="item">
                <img alt="JIRA integration" class="" src="/images/voardtrix_jira.png" width="100%">
              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <span class="icon-next"></span>
            </a>
          </div>
          <!-- carousel end //-->
        </div>


      </div>
    </div>
  </div>
</section>
<section class='cta'>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <h2 class="text-xs-center">Request access for free and will contact you shortly</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p class="lead text-xs-center">We want to support you on your Agile transformation</p>
      </div>
    </div>
    <div class="row mt20">
      <div class="col-xs-12">
        <form class="signup-form form-inline">
          <div class="text-center">
            <div class="form-group">
              <input type="email" placeholder="Your email" class="form-control col-xs-12 mr10 mb10" required="" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}">
              <input type="button" class="btn btn-outline-primary" value="Contact me for a free try →">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</section>
