<% @title = "Workflow" %>

<% content_for :description do %>
  <p><%= vt_project_icon %>
    Current workflow for <%= current_user.setting.name %></p>
  <%= render 'layouts/settings_nav' %>

<% end %>
<%= tag.div id: :boards,data: {
    workflows: @workflow.sorted.to_json(only: [:id,:name,:position,:workflow_id],include: :cards)
}, class: "container-fluid"  %>
