<div class="panel panel-success">
  <div class="panel-heading">
    <p class="lead"><i class="fa fa-gift"></i> <b>Stories</b></p>
  </div>
  <div class='panel-body text-green-400 text-center'>
    <h2 class='page-hits m0'><%= percent_num sprint.stories, (sprint.stories + sprint.remainingstories) %>%</h2>
    <small>Completed User Stories/Tasks
      <strong><%= sprint.stories %> of <%= (sprint.stories + sprint.remainingstories) %></strong></small>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-12">
        <%= summary_trend sprint.trend_stories, ' in average Stories', true %>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>