<% @title = "Settings" %>

<% content_for :description do %>
  <p><%= vt_project_icon %>
    Settings</p>

<% end %>

<br/>
<div class="container-fluid col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="row sheet sheet-condensed">
    <div class="panel panel-default sheet-inner">
      <div class="panel-heading">
        <span class="fa fa-cog"></span>
        Edit <%= @setting.name %> server API provider
      </div>
      <p class="panel-body">
        <%= render 'form' %>
      </p>
    </div>
  </div>
</div>
