<% @title = "Add a Sprint" %>

<% content_for :description do %>
    <ol class="breadcrumb col-sm-6 col-xs-height text-left col-middle">
      <li><%= link_to "Locally", new_sprint_path %></li>
      <li><%= link_to "External service", sprint_import_path %></li>

    </ol>
<% end %>


<div class="container-fluid">
  <%= render "layouts/flashes" %>


  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render 'form' %>
    </div>
  </div>
</div>
