---
http_interactions:
- request:
    method: get
    uri: https://vortrics.atlassian.net/rest/agile/1.0/board?projectKeyOrId=VOR&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZWR1Z2FyY2FzQGdtYWlsLmNvbTpvNmNjYmcxODg5RTNpcXdNc0x6M0VBNDU=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Atl-Traceid:
      - b50069ba447e0c7c
      X-Arequestid:
      - 1e929b4c-5259-446b-b2fc-5a5704b6b2b3
      X-Aaccountid:
      - 557058%3A450b4c64-7e58-4a39-a5d1-fb8167e1228f
    body:
      encoding: ASCII-8BIT
      string: '{"maxResults":50,"startAt":0,"total":1,"isLast":true,"values":[{"id":1,"self":"https://vortrics.atlassian.net/rest/agile/1.0/board/1","name":"VOR
        board","type":"scrum","location":{"projectId":10000,"displayName":"Vortrics
        (VOR)","projectName":"Vortrics","projectKey":"VOR","projectTypeKey":"software","avatarURI":"/secure/projectavatar?size=small&s=small&pid=10000&avatarId=10512","name":"Vortrics
        (VOR)"}}]}'
  recorded_at: Mon, 24 Feb 2020 10:06:36 GMT
recorded_with: VCR 5.1.0
