---
http_interactions:
- request:
    method: get
    uri: https://vortrics.atlassian.net/rest/api/3/search?jql=project=%27VOR%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZWR1Z2FyY2FzQGdtYWlsLmNvbTpvNmNjYmcxODg5RTNpcXdNc0x6M0VBNDU=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Atl-Traceid:
      - 3ab853614aa9ada6
      X-Aaccountid:
      - 557058%3A450b4c64-7e58-4a39-a5d1-fb8167e1228f
      X-Arequestid:
      - 5c4b9e88-502c-4ca0-81aa-9e25280937aa
    body:
      encoding: ASCII-8BIT
      string: '{"expand":"schema,names","startAt":0,"maxResults":50,"total":14,"issues":[{"expand":"operations,versionedRepresentations,editmeta,changelog,renderedFields","id":"10014","self":"https://vortrics.atlassian.net/rest/api/3/issue/10014","key":"VOR-14","fields":{"statuscategorychangedate":"2020-01-28T10:36:44.079+0100","issuetype":{"self":"https://vortrics.atlassian.net/rest/api/3/issuetype/10002","id":"10002","description":"A
        small, distinct piece of work.","iconUrl":"https://vortrics.atlassian.net/secure/viewavatar?size=medium&avatarId=10318&avatarType=issuetype","name":"Task","subtask":false,"avatarId":10318},"timespent":null,"project":{"self":"https://vortrics.atlassian.net/rest/api/3/project/10000","id":"10000","key":"VOR","name":"Vortrics","projectTypeKey":"software","simplified":false,"avatarUrls":{"48x48":"https://vortrics.atlassian.net/secure/projectavatar?pid=10000&avatarId=10512","24x24":"https://vortrics.atlassian.net/secure/projectavatar?size=small&s=small&pid=10000&avatarId=10512","16x16":"https://vortrics.atlassian.net/secure/projectavatar?size=xsmall&s=xsmall&pid=10000&avatarId=10512","32x32":"https://vortrics.atlassian.net/secure/projectavatar?size=medium&s=medium&pid=10000&avatarId=10512"}},"fixVersions":[],"aggregatetimespent":null,"resolution":null,"resolutiondate":null,"workratio":-1,"lastViewed":"2020-01-31T11:10:37.243+0100","watches":{"self":"https://vortrics.atlassian.net/rest/api/3/issue/VOR-14/watchers","watchCount":1,"isWatching":true},"created":"2020-01-28T10:36:43.891+0100","customfield_10020":null,"customfield_10021":null,"customfield_10022":null,"priority":{"self":"https://vortrics.atlassian.net/rest/api/3/priority/3","iconUrl":"https://vortrics.atlassian.net/images/icons/priorities/medium.svg","name":"Medium","id":"3"},"customfield_10023":null,"customfield_10024":null,"labels":[],"customfield_10016":null,"customfield_10017":null,"customfield_10018":{"hasEpicLinkFieldDependency":false,"showField":false,"nonEditableReason":{"reason":"PLUGIN_LICENSE_ERROR","message":"Portfolio
        for Jira must be licensed for the Parent Link to be available."}},"customfield_10019":"0|i0001z:","timeestimate":null,"aggregatetimeoriginalestimate":null,"versions":[],"issuelinks":[],"assignee":null,"updated":"2020-01-28T10:36:43.891+0100","status":{"self":"https://vortrics.atlassian.net/rest/api/3/status/10000","description":"","iconUrl":"https://vortrics.atlassian.net/","name":"To
        Do","id":"10000","statusCategory":{"self":"https://vortrics.atlassian.net/rest/api/3/statuscategory/2","id":2,"key":"new","colorName":"blue-gray","name":"To
        Do"}},"components":[],"timeoriginalestimate":null,"description":null,"customfield_10010":null,"customfield_10014":null,"customfield_10015":null,"customfield_10005":null,"customfield_10006":null,"customfield_10007":null,"security":null,"customfield_10008":null,"customfield_10009":null,"aggregatetimeestimate":null,"summary":"As
        I user I would like to see Cycle Time in hours as part of the list.","creator":{"self":"https://vortrics.atlassian.net/rest/api/3/user?accountId=557058%3A450b4c64-7e58-4a39-a5d1-fb8167e1228f","name":"admin","key":"admin","accountId":"557058:450b4c64-7e58-4a39-a5d1-fb8167e1228f","emailAddress":"edugarcas@gmail.com","avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/a16a4451199ed22885deea6875461d33?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FEG-0.png&size=48&s=48","24x24":"https://secure.gravatar.com/avatar/a16a4451199ed22885deea6875461d33?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FEG-0.png&size=24&s=24","16x16":"https://secure.gravatar.com/avatar/a16a4451199ed22885deea6875461d33?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FEG-0.png&size=16&s=16","32x32":"https://secure.gravatar.com/avatar/a16a4451199ed22885deea6875461d33?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FEG-0.png&size=32&s=32"},"displayName":"Eduard
        Garcia","active":true,"timeZone":"Europe/Madrid","accountType":"atlassian"},"subtasks":[],"reporter":{"self":"https://vortrics.atlassian.net/rest/api/3/user?accountId=557058%3A450b4c64-7e58-4a39-a5d1-fb8167e1228f","name":"admin","key":"admin","accountId":"557058:450b4c64-7e58-4a39-a5d1-fb8167e1228f","emailAddress":"edugarcas@gmail.com","avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/a16a4451199ed22885deea6875461d33?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FEG-0.png&size=48&s=48","24x24":"https://secure.gravatar.com/avatar/a16a4451199ed22885deea6875461d33?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FEG-0.png&size=24&s=24","16x16":"https://secure.gravatar.com/avatar/a16a4451199ed22885deea6875461d33?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FEG-0.png&size=16&s=16","32x32":"https://secure.gravatar.com/avatar/a16a4451199ed22885deea6875461d33?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FEG-0.png&size=32&s=32"},"displayName":"Eduard
        Garcia","active":true,"timeZone":"Europe/Madrid","accountType":"atlassian"},"customfield_10000":"{}","aggregateprogress":{"progress":0,"total":0},"customfield_10001":null,"customfield_10002":null,"customfield_10003":null,"customfield_10004":null,"environment":null,"duedate":null,"progress":{"progress":0,"total":0},"votes":{"self":"https://vortrics.atlassian.net/rest/api/3/issue/VOR-14/votes","votes":0,"hasVoted":false}}},{"expand":"operations,versionedRepresentations,editmeta,changelog,renderedFields","id":"10012","self":"https://vortrics.atlassian.net/rest/api/3/issue/10012","key":"VOR-13","fields":{"statuscategorychangedate":"2020-01-23T11:53:23.752+0100","issuetype":{"self":"https://vortrics.atlassian.net/rest/api/3/issuetype/10002","id":"10002","description":"A
        small, distinct piece of work.","iconUrl":"https://vortrics.atlassian.net/secure/viewavatar?size=medium&avatarId=10318&avatarType=is[...]
