---
http_interactions:
- request:
    method: get
    uri: https://vortrics.atlassian.net/rest/api/3/project
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZWR1Z2FyY2FzQGdtYWlsLmNvbTpvNmNjYmcxODg5RTNpcXdNc0x6M0VBNDU=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Atl-Traceid:
      - 9ac650a2a36b691d
      X-Arequestid:
      - 324bddf2-68eb-4d30-bdfc-ba54423a371a
      X-Aaccountid:
      - 557058%3A450b4c64-7e58-4a39-a5d1-fb8167e1228f
    body:
      encoding: ASCII-8BIT
      string: '[{"expand":"description,lead,issueTypes,url,projectKeys,permissions,insight","self":"https://vortrics.atlassian.net/rest/api/3/project/10001","id":"10001","key":"IM","name":"VeePee
        - Manager","avatarUrls":{"48x48":"https://vortrics.atlassian.net/secure/projectavatar?pid=10001&avatarId=10425","24x24":"https://vortrics.atlassian.net/secure/projectavatar?size=small&s=small&pid=10001&avatarId=10425","16x16":"https://vortrics.atlassian.net/secure/projectavatar?size=xsmall&s=xsmall&pid=10001&avatarId=10425","32x32":"https://vortrics.atlassian.net/secure/projectavatar?size=medium&s=medium&pid=10001&avatarId=10425"},"projectCategory":{"self":"https://vortrics.atlassian.net/rest/api/3/projectCategory/10001","id":"10001","name":"Team
        Management","description":""},"projectTypeKey":"software","simplified":true,"style":"next-gen","isPrivate":false,"properties":{},"entityId":"577b32f1-e185-4a6f-be70-73fd46de38d8","uuid":"577b32f1-e185-4a6f-be70-73fd46de38d8"},{"expand":"description,lead,issueTypes,url,projectKeys,permissions,insight","self":"https://vortrics.atlassian.net/rest/api/3/project/10000","id":"10000","key":"VOR","name":"Vortrics","avatarUrls":{"48x48":"https://vortrics.atlassian.net/secure/projectavatar?pid=10000&avatarId=10512","24x24":"https://vortrics.atlassian.net/secure/projectavatar?size=small&s=small&pid=10000&avatarId=10512","16x16":"https://vortrics.atlassian.net/secure/projectavatar?size=xsmall&s=xsmall&pid=10000&avatarId=10512","32x32":"https://vortrics.atlassian.net/secure/projectavatar?size=medium&s=medium&pid=10000&avatarId=10512"},"projectTypeKey":"software","simplified":false,"style":"classic","isPrivate":false,"properties":{}}]'
  recorded_at: Mon, 24 Feb 2020 10:06:36 GMT
recorded_with: VCR 5.1.0
