---
http_interactions:
- request:
    method: get
    uri: https://vortrics.atlassian.net/rest/api/3/user?username=eduard.garcia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZWR1Z2FyY2FzQGdtYWlsLmNvbTpvNmNjYmcxODg5RTNpcXdNc0x6M0VBNDU=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Atl-Traceid:
      - a9d4853ae7b3f604
      X-Aaccountid:
      - 557058%3A450b4c64-7e58-4a39-a5d1-fb8167e1228f
      X-Arequestid:
      - cc15b8f6-90fa-4ccc-8f38-a4f4cba870a6
    body:
      encoding: ASCII-8BIT
      string: '{"self":"https://vortrics.atlassian.net/rest/api/3/user?accountId=5e271883d5bb640e7136a9c1","key":"eduard.garcia","accountId":"5e271883d5bb640e7136a9c1","accountType":"atlassian","name":"eduard.garcia","avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/04cd548a99b0735bbc10cc3ce4be08e7?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FE-5.png&size=48&s=48","24x24":"https://secure.gravatar.com/avatar/04cd548a99b0735bbc10cc3ce4be08e7?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FE-5.png&size=24&s=24","16x16":"https://secure.gravatar.com/avatar/04cd548a99b0735bbc10cc3ce4be08e7?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FE-5.png&size=16&s=16","32x32":"https://secure.gravatar.com/avatar/04cd548a99b0735bbc10cc3ce4be08e7?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FE-5.png&size=32&s=32"},"displayName":"eduard.garcia","active":true,"timeZone":"Europe/Paris","locale":"en_US","groups":{"size":1,"items":[]},"applicationRoles":{"size":1,"items":[]},"expand":"groups,applicationRoles"}'
  recorded_at: Mon, 10 Feb 2020 08:19:02 GMT
recorded_with: VCR 5.1.0
