---
http_interactions:
- request:
    method: get
    uri: https://vortrics.atlassian.net/rest/agile/1.0/sprint/1/issue?expand=changelog&fields=key,priority,issuetype,status,componentes,customfield_11382,summary,customfield_11802,timeoriginalestimate,components,description,assignee,created,updated,resolutiondate,closedSprints,sprint,histories&maxResults=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZWR1Z2FyY2FzQGdtYWlsLmNvbTpvNmNjYmcxODg5RTNpcXdNc0x6M0VBNDU=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Atl-Traceid:
      - ad6415ca95f8df1b
      X-Aaccountid:
      - 557058%3A450b4c64-7e58-4a39-a5d1-fb8167e1228f
      X-Arequestid:
      - ab164b3c-5ec4-4d0e-adde-2ce7018983bc
    body:
      encoding: ASCII-8BIT
      string: '{"expand":"schema,names","startAt":0,"maxResults":200,"total":7,"issues":[{"expand":"operations,versionedRepresentations,editmeta,changelog,renderedFields","id":"10011","self":"https://vortrics.atlassian.net/rest/agile/1.0/issue/10011","key":"VOR-12","changelog":{"startAt":0,"maxResults":6,"total":6,"histories":[{"id":"10118","author":{"self":"https://vortrics.atlassian.net/rest/api/2/user?accountId=557058%3A450b4c64-7e58-4a39-a5d1-fb8167e1228f","name":"admin","key":"admin","accountId":"557058:450b4c64-7e58-4a39-a5d1-fb8167e1228f","emailAddress":"edugarcas@gmail.com","avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/a16a4451199ed22885deea6875461d33?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FEG-0.png&size=48&s=48","24x24":"https://secure.gravatar.com/avatar/a16a4451199ed22885deea6875461d33?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FEG-0.png&size=24&s=24","16x16":"https://secure.gravatar.com/avatar/a16a4451199ed22885deea6875461d33?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FEG-0.png&size=16&s=16","32x32":"https://secure.gravatar.com/avatar/a16a4451199ed22885deea6875461d33?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FEG-0.png&size=32&s=32"},"displayName":"Eduard
        Garcia","active":true,"timeZone":"Europe/Madrid","accountType":"atlassian"},"created":"2020-01-31T11:26:31.841+0100","items":[{"field":"status","fieldtype":"jira","fieldId":"status","from":"3","fromString":"In
        Progress","to":"10002","toString":"Testing"}]},{"id":"10054","author":{"self":"https://vortrics.atlassian.net/rest/api/2/user?accountId=557058%3A450b4c64-7e58-4a39-a5d1-fb8167e1228f","name":"admin","key":"admin","accountId":"557058:450b4c64-7e58-4a39-a5d1-fb8167e1228f","emailAddress":"edugarcas@gmail.com","avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/a16a4451199ed22885deea6875461d33?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FEG-0.png&size=48&s=48","24x24":"https://secur[...]
