<% @title = "Editing Maturity Framework" %>

<% content_for :description do %>
    <p><%= image_tag @team.project_info.icon, class: "img-circle profile-image", height: '30', width: '30' %> <%= @team.project_info.name %></p>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="sheet sheet-condensed">
        <div class="sheet-inner p30">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
