video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 110px;
    left: 0;
}
.viewport-header {
    position: relative;
    height: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    background: rgba(black, 0.66);
    color: white;
    position: relative;
    padding: 1rem;
}

@-webkit-keyframes invalid {
  from { background-color: #d13b47; }
  to { background-color: inherit; }
}
@-moz-keyframes invalid {
  from { background-color: #d13b47; }
  to { background-color: inherit; }
}
@-o-keyframes invalid {
  from { background-color: #d13b47; }
  to { background-color: inherit; }
}
@keyframes invalid {
  from { background-color: #d13b47; }
  to { background-color: inherit; }
}
.invalid {
  -webkit-animation: invalid 2s; /* Safari 4+ */
  -moz-animation:    invalid 2s; /* Fx 5+ */
  -o-animation:      invalid 2s; /* Opera 12+ */
  animation:         invalid 2s; /* IE 10+ */
}
@-webkit-keyframes valid {
  from { background-color: #2ed126; }
  to { background-color: inherit; }
}
@-moz-keyframes valid {
  from { background-color: #2ed126; }
  to { background-color: inherit; }
}
@-o-keyframes valid {
  from { background-color: #2ed126; }
  to { background-color: inherit; }
}
@keyframes valid {
  from { background-color: #2ed126; }
  to { background-color: inherit; }
}
.valid {
  -webkit-animation: valid 2s; /* Safari 4+ */
  -moz-animation:    valid 2s; /* Fx 5+ */
  -o-animation:      valid 2s; /* Opera 12+ */
  animation:         valid 2s; /* IE 10+ */
}

.load13 .loader {
  margin: 6em auto;
  font-size: 10px;
  position: relative;
  text-indent: m;
  border-top: 1.1em solid rgba(66, 165, 245, 0.2);
  border-right: 1.1em solid rgba(66, 165, 245, 0.2);
  border-bottom: 1.1em solid rgba(66, 165, 245, 0.2);
  border-left: 1.1em solid #4586A0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load13 1.1s infinite linear;
  animation: load13 1.1s infinite linear;
}

/* line 469, /Users/jmd/code/dresssed/dresssed-ives/lib/sass/dresssed/loaders.scss */
.load13 .loader,
.load13 .loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

@-webkit-keyframes load13 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load13 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.vortrics-loader {
  z-index: 1;
  position: absolute;
  top: 43%;
  width: 240px;
  height: 240px;
  bottom: auto;
  left: 43%;
  display: block;
}