<table border="0" cellpadding="10" cellspacing="0" width="100%">
  <tr>
    <td align="left" valign="top">
      <br />
      <br />
      <span class="applefix" style="font-family:Arial; font-size:14px; color:#888888;">
        <b>Information:</b><br />
        <%= Vortrics.config['name'] %> <br/>
        Built by <a href="https://www.linkedin.com/in/eduard-garcia-castello/">Eduard Garcia Castelló</a><br/>
      </span>
      <br />
      <br />
    </td>
  </tr>
</table>