
<div class="panel panel-metric">
  <div class="panel-body">
    <div class="metric-content">
      <div class="row">
        <header class="col-xs-12">
          <h3>MONTECARLO</h3>
        </header>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="metric-value col-xs-12">
            32
            <small>CONFIDENCE AT 50%</small>
          </div>
          <div class="metric-value col-xs-12">
             42
            <small>CONFIDENCE AT 85%</small>
          </div>
          <div class="metric-value col-xs-12">
            35
            <small>MAX. LIKELIHOOD 13%</small>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>