<% @title = "Funboard" %>

<% content_for :description do %>
  <p><%= vt_project_icon %>
    Build <%= @team.name %> board</p>
<% end %>
<%= tag.div id: :retrospective, data: {
    retrospectives: @retrospectives.to_vue(@team.id),team: @team.to_json(only: [:id])
}, class: "container-fluid"  %>