<% @title = "Retrospective" %>

<% content_for :description do %>
  <p><%= vt_project_icon %>
    Retrospecive for <%= @team.name %></p>
<% end %>
<%= tag.div id: :retrospective,data: {
    retrospectives: @retrospectives.sorted.to_json(only: [:id,:name,:position,:team_id],include: :postits)
}, class: "container-fluid"  %>