<div class="panel panel-metric">
  <div class="panel-body">
    <div class="metric-content">
      <div class="row">
        <header class="col-xs-12">
          <h3>AVERAGE BUGS BY SPRINT</h3>
        </header>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" style="min-height: 285px;">
          <div class='metric-graph' id='metric-cancellations' style='height:285px;'></div>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
          <div class="metric-value">
            <%=@team.average_bugs%>
            <small>AVERAGE BUGS</small>
          </div>
          <div class="metric-trend">
            <%= vt_trend_tag @team.trend_bugs %>
            <small>current vs average</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>