<div class="panel panel-danger">
  <div class="panel-heading">
    <p class="lead"><i class="fa fa-share"></i> Leftovers <b>User Story/Points</b></p>
  </div>
  <div class='panel-body text-red-400 text-center'>
    <h2 class="m0"><%= sprint.remainingstories %> / <%= sprint.remaining_points %></h2>
    <small>Leftovers / Points</small>
  </div>

</div>