<div class="panel panel-warning">
  <div class="panel-heading">
    <p class="lead"><i class="fa fa-clock-o"></i> Open <b>bugs</b></p>
  </div>
  <div class='panel-body text-orange-400 text-center' data-toggle="popover" data-placement="top" data-content="<%= ScrumMetrics.config[:popover][:bug_sprint] %>" data-original-title="" title="" id="popoverOpenBug">
    <h2 class="m0"><%= bugs.count %></h2>
    <small>Bugs open along the sprint</small>
  </div>
</div>
