<div class="panel panel-warning">
  <div class="panel-heading">
    <p class="lead"><%= fa_icon_tag("pie-chart") %>  Ratio Bugs vs <b> stories</b></p>
  </div>
  <div class='panel-body text-orange-400 text-center' data-toggle="popover" data-placement="top" data-content="<%= Vortrics.config[:popover][:ratio_bugs] %>" data-original-title="" title="" id="popoverRatioBug">
    <h2 class="m0"><%= percent_num  bugs.count,sprint.total_stories %>%</h2>
    <small>Open Bugs vs Total User Stories</small>
  </div>
</div>