<ol class="breadcrumb col-sm-6 col-xs-height text-left col-middle">

  <%= activatable_li_tag devise_manage_users_path do |url|
    link_to_unless current_user.admin?, "Manage Users", {}, data: { title: 'Admin only', toggle: :tooltip } do |name|
    link_to name, url
    end
  end %>

  <%= activatable_li_tag sprints_path do |url|
    link_to_unless current_user.admin?, "Clean Up", {}, data: { title: 'Admin only', toggle: :tooltip } do |name|
    link_to name, url
    end
  end %>

  <li><%= link_to "External Services", settings_path %></li>
  <li><%= link_to "Workflow", workflows_path %></li>
</ol>