<% content_for :navbar do %>
<div class="navbar">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <label class="navbar-brand"><img src="/images/vortrics_name.png" style="margin-top: -80px;height: 182px;"></label>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li class="active">
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/vortrics/" target="_blank">About</a>
      </li>
      <li>
        <%= link_to "Login", root_path %>
      </li>
    </ul>
  </div>
</div>
<% end %>
<%= render :layout => "landing/base_landing" do %>
  <%= yield %>
<% end %>